.body-animated {
  -webkit-transform: perspective(600px) translate3d(236px, 0px, - 263px) rotateY(-50deg);
  transform: perspective(600px) translate3d(236px, 0px, - 263px) rotateY(-50deg);
  z-index:9;
}
#sidemenu.menu-animated {
  -webkit-transform: perspective(600px) translate3d(0px, 0px, 0px) rotateY(0deg) !important;
  transform: perspective(600px) translate3d(0px, 0px, 0px) rotateY(0deg) !important;
  z-index: 9;
}
#sidemenu{
  -webkit-transition:all 500ms ease;
  transition:all 500ms ease;
  position: absolute;
  top:0;
  bottom:0;
  z-index:0;
  -webkit-transform: perspective(600px) translate3d(-750px, 0px, -1000px) rotateY(90deg) !important;
  transform: perspective(600px) translate3d(-750px, 0px, -1000px) rotateY(90deg) !important;
}
#ext-viewport{
  -webkit-transition:all 500ms ease;
  transition:all 500ms ease;
}


.x-body .x-scroll-view .x-container.x-picker {
  z-index: 10;
}
.x-picker-slot-title>div {
  color: white;
}

/****** popup ****/
/*.x-container.x-panel.x-sized.x-floating{
  -webkit-transform: perspective(600px) translate3d(0px, 140px, 20px) rotateY(0deg) !important;
  transform: perspective(600px) translate3d(0px, 150px, 20px) rotateY(0deg) !important;
  -webkit-transition:all 500ms ease;
  transition:all 500ms ease;
  opacity: 1;
}*/

.popupClosed {
  -webkit-transform: perspective(600px) translate3d(0px, 0px, -500px) rotateY(0deg) !important;
  transform: perspective(600px) translate3d(0px, 0px, -500px) rotateY(0deg) !important;
}

.menuwrapper{
  opacity: 1;
  -webkit-transition:all 500ms ease;
  transition:all 500ms ease;
  position: absolute;
  top: -100px;
  z-index:0;
  -webkit-transform: perspective(600px) translate3d(0px, -500px, -1000px) rotateX(-90deg) !important;
  transform: perspective(600px) translate3d(0px, -500px, -1000px) rotateX(-120deg) !important;
}
.menuwrapper.down{
  -webkit-transform: perspective(600px) translate3d(0px, 100px, 0px) rotateX(0deg) !important;
  transform: perspective(600px) translate3d(0px, 100px, 0px) rotateX(0deg) !important;
  z-index:9;
}
